.main__container{
    display:flex;
    flex-wrap: wrap;
    margin:10px;
    align-items: center;
    background-image: url(eventimg/contactbackground.jpg);
    
   
}
.message{
   flex: 45%;
}
.location{
    flex: 45%;
}
.maincontact__title{
    font-size: 40px;
    text-align: center;
    text-shadow:  2px 2px 4px #000000;
    font-style: italic;
    font-family: 'Pacifico', 'cursive';
}
.maincontact__map{
    width:100%;
    height: 500px;
}
.maintext__head{
    width:100%;
    text-align:center;
    color:#000;
    font-size: 30px;
    margin-top:7px;
    font-family: 'Pacifico', 'cursive';
}
.message__form{
   
   
    width:400px;
    max-width:100000px;
    padding:50px;
    background-color:rgba(255,255,255,0.15);
    box-shadow:0 25px 45px rgba(0,0,0,0.1);
    margin-left: 20px;
    margin-top: 10x;
    margin-bottom:10px;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius:10px;
    backdrop-filter: blur(8px);

}
.location__address{
    color:#fff;
    font-size:40px;
    text-align:center;
    margin-top:5px;
    font-family:'poppins', sans-serif;
    
}
.location__location{
    color:#fff;
    font-size:23px;
    text-align:center;
    margin-top:5px;
    font-family:'poppins', sans-serif;

}
.location__img{
    width:30px;
    height: 30px;
    border-radius: 50%;
    margin-top:5px;
}
.location__img--diffrent{
   display:inline;
   margin-top:5px;
}
.location__text{
    color:#fff;
    line-height: 30px;
    margin-top:5px;
    font-family:'poppins', sans-serif;
}
.input-box.success .form-input {
    border-color: #2ecc71;
  }
  
  
  .input-box.error .form-input {
    border-color: #e74c3c;
  }
  
  
  .error-message {
    display: flex;
    justify-content: left;
    visibility: hidden;
    color: #e74c3c;;
  }
  
  
  .input-box.error .error-message {
    visibility: visible;
  }
    
  .submit-btn{
    display: inline-block;
    margin-top: 12px;
    width: 100px;
    height: 30px;
    font-size: 1.2rem;
    background:#BDBDBD;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .form-input,
.text-area {
  height: 100%;
  width: 100%;
  border: 2px solid #f0f0f0;
  outline: none;
  font-size: 1rem;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}


.message-box{
  min-height: 110px;
}


.text-area{
  padding-top: 6px;
}



@media only screen and (max-width:1200px) {
    .message__form{
        width:300px
    }
}
@media only screen and (max-width:1070px){
    
    .message{
        flex: 100%;
        margin-top:5%;
        margin-left:20%;
    }
    .location{
        flex: 100%;
        margin-left:10%;
    }
}
@media only screen and (max-width:668px){
    .message{
        flex: 100%;
        margin-top:5%;
        margin-left:16%;
    }
    .location{
        flex: 100%;
        margin-left:8%;
    }
}
@media only screen and (max-width:585px){
    .message{
        flex: 100%;
        margin-top:5%;
        margin-left:11%;
    }
    .location{
        flex: 100%;
        margin-left:5%;
    }
    .location__address{
        color:#fff;
        font-size:35px;
        text-align:center;
        margin-top:5px;
        font-family:'poppins', sans-serif;
        
    }
    .location__location{
      
        font-size:20px;
      
      
    
    }
    .location__img{
        width:25px;
        height: 25px;
       
    }
    
    .location__text{
    
        line-height: 27px;
       
    }
    
}
@media only screen and (max-width:530px){
    .message{
        flex: 100%;
        margin-top:5%;
        margin-left:1%;
    }
    .location{
        flex: 100%;
        margin-left:1%;
    }
}
@media only screen and (max-width:500px){
    .main__container{
       
        margin:3%;
        
       
    }
    .message__form{
   
   
        width:250px;
        max-width:100000px;
        padding:50px;
        background-color:rgba(255,255,255,0.15);
        box-shadow:0 25px 45px rgba(0,0,0,0.1);
        margin-left: 20px;
        margin-top: 10x;
        margin-bottom:10px;
        border: 1px solid rgba(255,255,255,0.2);
        border-radius:10px;
        backdrop-filter: blur(8px);
    
    }
}
@media only screen and (max-width:490px){
    .main__container{
        display:flex;
        flex-wrap: wrap;
        margin:3%;
        align-items: center;
        background-image: url(eventimg/contactbackground.jpg);
        background-size:100%;
     
        
       
    }
    .maincontact__title{
        font-size:20px;
    }
}
@media only screen and (max-width:480px){
    
    .main__container{
        display:flex;
        flex-wrap: wrap;
        margin:3%;
        align-items: center;
        background-image: url(eventimg/contactbackground.jpg);
        background-size:100%;
       
       
    }
}
@media only screen and (max-width:450px){
    
    .main__container{
        display:flex;
        flex-wrap: wrap;
        margin:3%;
        align-items: center;
        background-image: url(eventimg/contactbackground.jpg);
        background-size:100%;
   
       
    }
}
@media only screen and (max-width:410px){
    
   
    .message__form{
   
   
        width:200px;
        max-width:100000px;
        padding:50px;
        background-color:rgba(255,255,255,0.15);
        box-shadow:0 25px 45px rgba(0,0,0,0.1);
        margin-left: 20px;
        margin-top: 10x;
        margin-bottom:10px;
        border: 1px solid rgba(255,255,255,0.2);
        border-radius:10px;
        backdrop-filter: blur(8px);
    
    }
}
@media only screen and (max-width:355px){
    .message__form{
   
   
        width:200px;
        max-width:100000px;
        padding:50px;
        background-color:rgba(255,255,255,0.15);
        box-shadow:0 25px 45px rgba(0,0,0,0.1);
        margin-left: 10px;
        margin-top: 10x;
        margin-bottom:10px;
        border: 1px solid rgba(255,255,255,0.2);
        border-radius:10px;
        backdrop-filter: blur(8px);
    
    }
}
@media only screen and (max-width:342px){
    .message__form{
   
   
        width:200px;
        max-width:100000px;
        padding:50px;
        background-color:rgba(255,255,255,0.15);
        box-shadow:0 25px 45px rgba(0,0,0,0.1);
        margin-left: 2px;
        margin-top: 10x;
        margin-bottom:10px;
        border: 1px solid rgba(255,255,255,0.2);
        border-radius:10px;
        backdrop-filter: blur(8px);
    
    }
}
@media only screen and (max-width:331px){
    .message__form{
   
   
        width:190px;
        max-width:100000px;
        padding:50px;
        background-color:rgba(255,255,255,0.15);
        box-shadow:0 25px 45px rgba(0,0,0,0.1);
        margin-left: 2px;
        margin-top: 10x;
        margin-bottom:10px;
        border: 1px solid rgba(255,255,255,0.2);
        border-radius:10px;
        backdrop-filter: blur(8px);
    
    }
    .maintext__head{
        width:100%;
        text-align:center;
        color:#000;
        font-size: 20px;
        margin-top:7px;
        font-family: 'Pacifico', 'cursive';
    }
}