
.caption{
    text-align:center;
    text-transform: uppercase;
    font-size: 29px;
    color:#212121;
    font-family:'Poppins', sans-serif ;
    margin-bottom: 30px;
}
.table{
    width:90%;
    border-collapse: collapse;
    margin:auto;
    margin-top:50px;
    table-layout:fixed;
    color:#fff;
}
.table, .table__head, .table__data{
    border-collapse:collapse;
    border:1px  dotted  white;
    font-family:'Poppins', sans-serif ;
    text-align:center;
}
.table__head:nth-child(5){
    width:200px;
}
.table__head{
    padding: 18px;
    font-size:21px

}
.table__data{
    padding:18px;
    font-size:21px;
}
.table__row:nth-child(even){
    background-color:#424242;
    
}
.table__row:nth-child(odd){background-color:#212121;
}
.explain__paragraph{
    font-family:'Poppins', sans-serif;
    font-size: 20px;
    margin:2%;
}






@media only screen and (max-width:920px){
    .table__head{
        display:none;
        
    }
   
    .table, .table__row, .table__data{
        display:block;
        width:300px;

    }
    .table__row{
        margin-bottom: 15px;
        align-items: left;
    }
    .table__data{
       
        position:relative;
        text-align: center;
        font-size: 10px;
        padding-right:50%;
        
    }
   
    .table__data:before{
        content: attr(data-label);
        position:absolute;
        left:0;
        width:50%;
        padding-left: 15px;
        font-weight: 600;
        font-size:14px;
        text-align:left;
    }
    .table__head{
        padding: 0px;
        font-size:21px
    
    }
    .table__data{
       padding:0;
        font-size:14px;
        text-align: right;
       
    }
}
@media only screen and (max-width:530px){
    .explain__paragraph{
      
        font-size: 16px;
        
    }
       
}







